USE [master]
GO
/****** Object:  Database [TT_QLHS]    Script Date: 22/12/2020 10:35 AM ******/
CREATE DATABASE [TT_QLHS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TT_QLHS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TT_QLHS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TT_QLHS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TT_QLHS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TT_QLHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TT_QLHS]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[idBangDiem] [int] IDENTITY(1,1) NOT NULL,
	[diem15phut] [float] NULL,
	[diem45phut] [float] NULL,
	[diemHocKi] [float] NULL,
	[idMonHoc] [int] NULL,
	[idHocSinh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBangDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[idGiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[tenGiaoVien] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](4) NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[idHocSinh] [int] IDENTITY(1,1) NOT NULL,
	[tenHocSinh] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](4) NULL,
	[ngaySinh] [date] NULL,
	[idLopHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[idLopHoc] [int] IDENTITY(1,1) NOT NULL,
	[tenLopHoc] [nvarchar](50) NOT NULL,
	[tenKhoi] [nvarchar](3) NULL,
	[namHoc] [nvarchar](20) NULL,
	[idGiaoVienChuNhiem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[idMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[tenMonHoc] [nvarchar](50) NOT NULL,
	[soTietHoc] [int] NULL,
	[namHoc] [nvarchar](10) NULL,
	[kiHoc] [int] NULL,
	[idGiaoVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangDiem] ON 

INSERT [dbo].[BangDiem] ([idBangDiem], [diem15phut], [diem45phut], [diemHocKi], [idMonHoc], [idHocSinh]) VALUES (1, 7, 7.5, 8.5, 1, 1)
INSERT [dbo].[BangDiem] ([idBangDiem], [diem15phut], [diem45phut], [diemHocKi], [idMonHoc], [idHocSinh]) VALUES (2, 6.5, 7, 5.5, 1, 2)
INSERT [dbo].[BangDiem] ([idBangDiem], [diem15phut], [diem45phut], [diemHocKi], [idMonHoc], [idHocSinh]) VALUES (3, 7.5, 7.5, 8, 1, 3)
SET IDENTITY_INSERT [dbo].[BangDiem] OFF
SET IDENTITY_INSERT [dbo].[GiaoVien] ON 

INSERT [dbo].[GiaoVien] ([idGiaoVien], [tenGiaoVien], [gioiTinh], [ngaySinh], [soDienThoai]) VALUES (1, N'Nguyễn Thanh Huyền', N'Nữ', CAST(N'1986-10-05' AS Date), N'0966741169')
INSERT [dbo].[GiaoVien] ([idGiaoVien], [tenGiaoVien], [gioiTinh], [ngaySinh], [soDienThoai]) VALUES (2, N'Hoàng Nguyên Hải', N'Nam', CAST(N'1990-11-11' AS Date), N'0358944651')
INSERT [dbo].[GiaoVien] ([idGiaoVien], [tenGiaoVien], [gioiTinh], [ngaySinh], [soDienThoai]) VALUES (3, N'Nguyễn Đức Thanh', N'Nam', CAST(N'1980-06-13' AS Date), N'0359975889')
SET IDENTITY_INSERT [dbo].[GiaoVien] OFF
SET IDENTITY_INSERT [dbo].[HocSinh] ON 

INSERT [dbo].[HocSinh] ([idHocSinh], [tenHocSinh], [gioiTinh], [ngaySinh], [idLopHoc]) VALUES (1, N'Nguyễn Trường An', N'Nam', CAST(N'1999-11-04' AS Date), 1)
INSERT [dbo].[HocSinh] ([idHocSinh], [tenHocSinh], [gioiTinh], [ngaySinh], [idLopHoc]) VALUES (2, N'Nguyễn Thị Thanh Thùy', N'Nữ', CAST(N'1999-12-11' AS Date), 1)
INSERT [dbo].[HocSinh] ([idHocSinh], [tenHocSinh], [gioiTinh], [ngaySinh], [idLopHoc]) VALUES (3, N'Nguyễn Thị Kim Khánh', N'Nữ', CAST(N'1999-06-11' AS Date), 1)
SET IDENTITY_INSERT [dbo].[HocSinh] OFF
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([idLopHoc], [tenLopHoc], [tenKhoi], [namHoc], [idGiaoVienChuNhiem]) VALUES (1, N'10', N'A', N'2020 - 202', 1)
INSERT [dbo].[LopHoc] ([idLopHoc], [tenLopHoc], [tenKhoi], [namHoc], [idGiaoVienChuNhiem]) VALUES (2, N'10', N'B', N'2020 - 202', 2)
INSERT [dbo].[LopHoc] ([idLopHoc], [tenLopHoc], [tenKhoi], [namHoc], [idGiaoVienChuNhiem]) VALUES (3, N'10', N'C', N'2020 - 202', 3)
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([idMonHoc], [tenMonHoc], [soTietHoc], [namHoc], [kiHoc], [idGiaoVien]) VALUES (1, N'Toán', 60, N'2020-2021', 1, 1)
INSERT [dbo].[MonHoc] ([idMonHoc], [tenMonHoc], [soTietHoc], [namHoc], [kiHoc], [idGiaoVien]) VALUES (2, N'Văn', 60, N'2020-2021', 1, 2)
INSERT [dbo].[MonHoc] ([idMonHoc], [tenMonHoc], [soTietHoc], [namHoc], [kiHoc], [idGiaoVien]) VALUES (3, N'Tiếng Anh', 45, N'2020-2021', 1, 3)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT (N'Nam') FOR [gioiTinh]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT (getdate()) FOR [ngaySinh]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([idHocSinh])
REFERENCES [dbo].[HocSinh] ([idHocSinh])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([idMonHoc])
REFERENCES [dbo].[MonHoc] ([idMonHoc])
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD FOREIGN KEY([idLopHoc])
REFERENCES [dbo].[LopHoc] ([idLopHoc])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([idGiaoVienChuNhiem])
REFERENCES [dbo].[GiaoVien] ([idGiaoVien])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([idGiaoVien])
REFERENCES [dbo].[GiaoVien] ([idGiaoVien])
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD CHECK  (([gioiTinh]=N'Nữ' OR [gioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([kiHoc]=(2) OR [kiHoc]=(1)))
GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_Delete]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BangDiem_Delete]
  @idBangDiem INT
AS
BEGIN
  DELETE BangDiem
  WHERE idBangDiem = @idBangDiem
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_GetAll]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------Bang Diem------------------------
CREATE PROCEDURE [dbo].[SP_BangDiem_GetAll]
AS
BEGIN
  SELECT *
  FROM BangDiem
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_GetByIdMonHoc]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BangDiem_GetByIdMonHoc]
	@idMonHoc int
AS
BEGIN
  SELECT *
  FROM BangDiem
  WHERE idMonHoc = @idMonHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_Insert]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BangDiem_Insert]
  @diem15phut FLOAT,
  @diem45phut FLOAT,
  @diemHocKi FLOAT,
  @idMonHoc INT,
  @idHocSinh INT
AS
BEGIN
  INSERT INTO BangDiem
    (diem15phut, diem45phut, diemHocKi, idMonHoc, idHocSinh)
  VALUES(@diem15phut, @diem45phut, @diemHocKi, @idMonHoc, @idHocSinh)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_Search]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BangDiem_Search]
  @searchValue NVARCHAR(200)
AS
BEGIN
  SELECT *
  FROM BangDiem
  WHERE idBangDiem LIKE N'%' + @searchValue + '%'
    OR diem15phut LIKE N'%' + @searchValue + '%'
    OR diem45phut LIKE N'%' + @searchValue + '%'
    OR diemHocKi LIKE N'%' + @searchValue + '%'
    OR idMonHoc LIKE N'%' + @searchValue + '%'
    OR idHocSinh LIKE N'%' + @searchValue + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiem_Update]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BangDiem_Update]
  @idBangDiem INT,
  @diem15phut FLOAT,
  @diem45phut FLOAT,
  @diemHocKi FLOAT,
  @idMonHoc INT,
  @idHocSinh INT
AS
BEGIN
  UPDATE BangDiem
  SET diem15phut = @diem15phut,
  diem45phut = @diem45phut,
  diemHocKi = @diemHocKi,
  idMonHoc = @idMonHoc,
  idHocSinh = @idHocSinh
  WHERE idBangDiem = @idBangDiem
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaoVien_Delete]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GiaoVien_Delete]
  @idGiaoVien INT
AS
BEGIN
  UPDATE LopHoc
  SET idGiaoVienChuNhiem = NULL
  WHERE idGiaoVienChuNhiem = @idGiaoVien

  UPDATE MonHoc
  SET idGiaoVien = NULL
  WHERE idGiaoVien = @idGiaoVien

  DELETE GiaoVien
  WHERE idGiaoVien = @idGiaoVien
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaoVien_GetAll]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------Giao Vien------------------------
CREATE PROCEDURE [dbo].[SP_GiaoVien_GetAll]
AS
BEGIN
  SELECT *
  FROM GiaoVien
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaoVien_Insert]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GiaoVien_Insert]
  @tenGiaoVien NVARCHAR(50),
  @gioiTinh NVARCHAR(4),
  @ngaySinh DATE,
  @soDienThoai NVARCHAR(12)
AS
BEGIN
  INSERT INTO GiaoVien
    (tenGiaoVien, gioiTinh, ngaySinh, soDienThoai)
  VALUES(@tenGiaoVien, @gioiTinh, @ngaySinh, @soDienThoai)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaoVien_Search]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GiaoVien_Search]
  @searchValue NVARCHAR(200)
AS
BEGIN
  SELECT *
  FROM GiaoVien
  WHERE idGiaoVien LIKE N'%' + @searchValue + '%'
    OR idGiaoVien LIKE N'%' + @searchValue + '%'
    OR tenGiaoVien LIKE N'%' + @searchValue + '%'
    OR gioiTinh LIKE N'%' + @searchValue + '%'
    OR ngaySinh LIKE N'%' + @searchValue + '%'
    OR soDienThoai LIKE N'%' + @searchValue + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaoVien_Update]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GiaoVien_Update]
  @idGiaoVien INT,
  @tenGiaoVien NVARCHAR(50),
  @gioiTinh NVARCHAR(4),
  @ngaySinh DATE,
  @soDienThoai NVARCHAR(12)
AS
BEGIN
  UPDATE GiaoVien
  SET tenGiaoVien = @tenGiaoVien,
  gioiTinh = @gioiTinh,
  ngaySinh = @ngaySinh,
  soDienThoai = @soDienThoai
  WHERE idGiaoVien = @idGiaoVien
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HocSinh_Delete]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HocSinh_Delete]
  @idHocSinh INT
AS
BEGIN
  DELETE BangDiem
  WHERE idHocSinh = @idHocSinh
  DELETE HocSinh
  WHERE idHocSinh = @idHocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HocSinh_GetAll]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------Hoc Sinh------------------------
CREATE PROCEDURE [dbo].[SP_HocSinh_GetAll]
AS
BEGIN
  SELECT *
  FROM HocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HocSinh_Insert]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HocSinh_Insert]
  @tenHocSinh NVARCHAR(50),
  @gioiTinh NVARCHAR(4),
  @ngaySinh DATE,
  @idLopHoc INT
AS
BEGIN
  INSERT INTO HocSinh
    (tenHocSinh, gioiTinh, ngaySinh, idLopHoc)
  VALUES(@tenHocSinh, @gioiTinh, @ngaySinh, @idLopHoc)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HocSinh_Search]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HocSinh_Search]
  @searchValue NVARCHAR(200)
AS
BEGIN
  SELECT *
  FROM HocSinh
  WHERE idHocSinh LIKE N'%' + @searchValue + '%'
    OR tenHocSinh LIKE N'%' + @searchValue + '%'
    OR gioiTinh LIKE N'%' + @searchValue + '%'
    OR ngaySinh LIKE N'%' + @searchValue + '%'
    OR idLopHoc LIKE N'%' + @searchValue + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HocSinh_Update]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HocSinh_Update]
  @idHocSinh INT,
  @tenHocSinh NVARCHAR(50),
  @gioiTinh NVARCHAR(4),
  @ngaySinh DATE,
  @idLopHoc INT
AS
BEGIN
  UPDATE HocSinh
  SET tenHocSinh = @tenHocSinh,
  gioiTinh = @gioiTinh,
  ngaySinh = @ngaySinh,
  idLopHoc = @idLopHoc
  WHERE idHocSinh = @idHocSinh
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LopHoc_Delete]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LopHoc_Delete]
  @idLopHoc INT
AS
BEGIN
  UPDATE HocSinh
  SET idLopHoc = NULL
  WHERE idLopHoc = @idLopHoc
  DELETE LopHoc
  WHERE idLopHoc = @idLopHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LopHoc_GetAll]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------Lop Hoc------------------------
CREATE PROCEDURE [dbo].[SP_LopHoc_GetAll]
AS
BEGIN
  SELECT *
  FROM LopHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LopHoc_Insert]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LopHoc_Insert]
  @tenLopHoc NVARCHAR(50),
  @tenKhoi NVARCHAR(3),
  @namHoc NVARCHAR(10),
  @idGiaoVienChuNhiem INT
AS
BEGIN
  INSERT INTO LopHoc
    (tenLopHoc, tenKhoi, namHoc, idGiaoVienChuNhiem)
  VALUES(@tenLopHoc, @tenKhoi, @namHoc, @idGiaoVienChuNhiem)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LopHoc_Search]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LopHoc_Search]
  @searchValue NVARCHAR(50)
AS
BEGIN
  SELECT *
  FROM LopHoc
  WHERE idLopHoc LIKE N'%' + @searchValue + '%'
    OR tenLopHoc LIKE N'%' + @searchValue + '%'
    OR tenKhoi LIKE N'%' + @searchValue + '%'
    OR namHoc LIKE N'%' + @searchValue + '%'
    OR idGiaoVienChuNhiem LIKE N'%' + @searchValue + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LopHoc_Update]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LopHoc_Update]
  @idLopHoc INT,
  @tenLopHoc NVARCHAR(50),
  @tenKhoi NVARCHAR(3),
  @namHoc NVARCHAR(10),
  @idGiaoVienChuNhiem INT
AS
BEGIN
  UPDATE LopHoc
  SET tenLopHoc = @tenLopHoc,
  tenKhoi = @tenKhoi,
  namHoc = @namHoc,
  idGiaoVienChuNhiem = @idGiaoVienChuNhiem
  WHERE idLopHoc = @idLopHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MonHoc_Delete]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MonHoc_Delete]
  @idMonHoc INT
AS
BEGIN
  DELETE BangDiem
  WHERE idMonHoc = @idMonHoc
  DELETE MonHoc
  WHERE idMonHoc = @idMonHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MonHoc_GetAll]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-----------------------Mon Hoc------------------------
CREATE PROCEDURE [dbo].[SP_MonHoc_GetAll]
AS
BEGIN
  SELECT *
  FROM MonHoc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MonHoc_Insert]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MonHoc_Insert]
  @tenMonHoc NVARCHAR(50),
  @soTietHoc INT,
  @namHoc NVARCHAR(10),
  @kiHoc INT,
  @idGiaoVien int
AS
BEGIN
  INSERT INTO MonHoc
    (tenMonHoc, soTietHoc, namHoc, kiHoc, idGiaoVien)
  VALUES(@tenMonHoc, @soTietHoc, @namHoc, @kiHoc, @idGiaoVien)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MonHoc_Search]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MonHoc_Search]
  @searchValue NVARCHAR(50)
AS
BEGIN
  SELECT *
  FROM MonHoc
  WHERE idMonHoc LIKE N'%' + @searchValue + '%'
    OR tenMonHoc LIKE N'%' + @searchValue + '%'
    OR soTietHoc LIKE N'%' + @searchValue + '%'
    OR namHoc LIKE N'%' + @searchValue + '%'
    OR kiHoc LIKE N'%' + @searchValue + '%'
    OR idGiaoVien LIKE N'%' + @searchValue + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MonHoc_Update]    Script Date: 22/12/2020 10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MonHoc_Update]
  @idMonHoc INT,
  @tenMonHoc NVARCHAR(50),
  @soTietHoc INT,
  @namHoc NVARCHAR(10),
  @kiHoc INT,
  @idGiaoVien INT
AS
BEGIN
  UPDATE MonHoc
  SET tenMonHoc = @tenMonHoc,
      soTietHoc = @soTietHoc,
      namHoc = @namHoc,
      kiHoc = @kiHoc,
      idGiaoVien = @idGiaoVien
  WHERE idMonHoc = @idMonHoc
END

GO
USE [master]
GO
